@using Blog.Services
@using Blog.Models
@model CategoryPost
@inject IImageService imageService

@{
    ViewData["Title"] = "Details";
}

<article class="blog-post px-3 py-5 p-md-5">
    <div class="container">
        <header class="blog-post-header text-center">
            <h2 class="title mb-2">@Html.Raw(Model.Title)</h2>
            <h6 class="subheading">@Html.Raw(Model.Abstract)</h6>
            <div class="meta mb-3"><span class="date">Published on @Model.Created.ToString("MMMM dd, yyyy")</span></div>
        </header>

        <div class="blog-post-body">
            <figure class="blog-banner text-center">
                <img src="@imageService.DecodeFile(Model.ImageData, Model.ContentType)" class="image-fluid">
            </figure>
            <div class="row">
                <div class="card-body mx-auto">
                    <b>@Html.Raw(Model.Content)</b>
                </div>
            </div>
        </div>


    </div><!--//container-->
    <br /><br />
    @if (User.Identity.IsAuthenticated)
    {
        <form asp-controller="Comments" asp-action="Create">
            <input type="hidden" asp-for="Slug" />
            <div class="container">
                <div class="row">
                    <div class="col-md">
                        @Html.Hidden("CategoryPostId", Model.Id)

                        <div class="form-group">
                            <label class="control-label">Comment</label>
                            @*<input asp-for="Body" class="form-control" />*@
                            <textarea required name="Body" class="form-control"></textarea>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-success">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    }
    else
    {
        <h5 class="text-center">Please <a asp-area="Identity" asp-page="/Account/Login">LOG IN </a>to add your comment!</h5>
    }
    <br /><br />
    @foreach (var comment in Model.Comments.OrderByDescending(c => c.Created))
    {
        <div class="row text-center">
            <div class="col">
                @comment.BlogUser.FullName
            </div>
            <div class="col">
                @comment.Created.ToString("MMMM dd, yyyy")
            </div>
        </div>
        @if (comment.HasBeenModerated)
        {
            <div class="row text-center">
                <div class="col">
                    @Html.Raw(comment.ModeratedBody)
                </div>
            </div>
        }
        else
        {
            <div class="row text-center">
                <div class="col">
                    @Html.Raw(comment.Body)
                </div>
            </div>
        }
    }
    <br />
    <div class="text-center">
        @if (User.IsInRole("Administrator"))
        {
            <a asp-action="Edit" asp-route-id="@Model.Id">Edit Post|</a>
        }
        @if (User.IsInRole("Administrator"))
        {
            <a asp-action="Delete" asp-route-id="@Model.Id">Delete Post|</a>
        }

        @if (User.IsInRole("Administrator"))
        {
            <a asp-controller="Comments" asp-action="Index" asp-route-id="@Model.Id">Moderate Comment</a>
        }
        @if (User.IsInRole("Moderator"))
        {
            <a asp-controller="Comments" asp-action="Index" asp-route-id="@Model.Id">Moderate Comment</a>
        } |
        <a asp-action="Index">Back to Posts</a>
    </div>
</article>

@section scripts{
    <script>
        $(document).ready(function () {
            $("#Body").summernote();
        });
    </script>

}
