@using Blog.Services
@using Blog.Models
@model CategoryPost
@inject IImageService imageService
@inject Microsoft.AspNetCore.Identity.UserManager<BlogUser> _userManager

@{
    ViewData["Title"] = "Details";
    var userId = _userManager.GetUserId(User);
}

<article class="blog-post px-3 py-5 p-md-5">
    <div class="container">
        <header class="blog-post-header text-center">
            <h2 class="title mb-2">@Html.Raw(Model.Title)</h2>
            <div class="meta mb-3"><span class="date">Published on @Model.Created.ToString("MMMM dd, yyyy")</span></div>
            <h6 class="subheading">@Html.Raw(Model.Abstract)</h6>
        </header>

        <div class="blog-post-body">
            <figure class="blog-banner text-center">
                <img src="@imageService.DecodeFile(Model.ImageData, Model.ContentType)" class="image-fluid" style="width: 400px;">
            </figure>
            <div class="row">
                <div class="card-body mx-auto">
                    <p>@Html.Raw(Model.Content)</p>
                </div>
            </div>
        </div>


    </div><!--//container-->
    <br /><br />
    @if (User.Identity.IsAuthenticated)
    {
        <form asp-controller="Comments" asp-action="Create">
            <input type="hidden" asp-for="Slug" />
            <div class="container">
                <div class="row">
                    <div class="col-md">
                        @Html.Hidden("CategoryPostId", Model.Id)

                        <div class="form-group">
                            <label class="control-label text-success" >Comment</label>
                            <textarea required name="Body" class="form-control"></textarea>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-success">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    }
    else
    {
        <h5 class="text-center">Please <a asp-area="Identity" asp-page="/Account/Login">LOG IN </a>to add your comment!</h5>
    }
    <br /><br />
    <div class="container">
        <div class="card">
            <div class="card-body">
                @foreach (var comment in Model.Comments.OrderByDescending(c => c.Created))
                {
                    <div class="row">
                        <div class="col-md-9">
                            <p>
                                <strong class="text-success">@comment.BlogUser.FullName</strong>
                            </p>
                            @if (comment.HasBeenModerated)
                            {
                                <div class="clearfix"></div>
                                <p class="text-success">
                                    @comment.ModeratedBody
                                </p>
                            }
                            else
                            {
                                <div class="clearfix"></div>
                                <p class="text-success">
                                    @comment.Body
                                </p>
                            }
                        </div>
                        <div class="col-md-3">
                            <p class="text-success text-center">
                                @comment.Created.ToString("MMM dd, yyyy")
                            </p>
                        </div>
                    </div>
                    @if (userId == comment.BlogUserId)
                    {
                        <p class="text-center">
                        <a asp-controller="Comments" asp-action="Edit" asp-route-id="@comment.Id">Edit Your Comment</a>
                            </p>
                    }
                    <hr class="text-success-muted" />

                }
            </div>
        </div>
    </div>
    <br />
    <div class="text-center">

        @if (User.IsInRole("Administrator"))
        {
            <a asp-action="Edit" asp-route-id="@Model.Id">Edit Post|</a>
              
            <a asp-action="Delete" asp-route-id="@Model.Id">Delete Post|</a>
        }
        
        @if (User.IsInRole("Moderator") || User.IsInRole("Administrator"))
        {
            <a asp-controller="Comments" asp-action="Index" asp-route-id="@Model.Id">Moderate Comment</a>
            <p>|</p>
        } 
        <a asp-action="Index">Back to Posts</a>
    </div>
</article>

@section scripts{
    <script>
        $(document).ready(function () {
            $("#Body").summernote();
        });
    </script>

}
