@using Blog.Services;
 


@inject IImageService imageService
@model IEnumerable<Blog.Models.CategoryPost>


@{
    ViewData["Title"] = "Index";
}



<section class="blog-list px-3 py-5 p-md-5">

  
        @{ var order = 1;}
        @foreach (var categoryPost in Model.OrderByDescending(b => b.Created))
        {
            if (order % 2 == 0)
            {
                <div class="row justify-content-center">
                    <div class="media justify-content-center">
                        <img src="@imageService.DecodeFile(categoryPost.ImageData, categoryPost.ContentType)" class="mr-3 img-fluid d-none d-md-flex" alt="image">
                        <div class="media-body">
                            <h3 class="title ml-3 mb-1">@categoryPost.Title</h3>
                            <div class="meta ml-3 mb-1">
                                <span>Published @categoryPost.Created.ToString("MMMM dd, yyyy")</span>
                            </div>

                            <div class="intro ml-3 mb-1">@Html.Raw(categoryPost.Abstract)</div>
                            <br />
                            <a asp-action="Details" asp-route-slug="@categoryPost.Slug" class="ml-3">Read more &rarr;</a>
                        </div>
                    </div>
                </div>
                <hr>
            }
            else
            {
                <div class="item mb-5">
                    <div class="media">
                        <div class="media-body">
                            <h3 class="title ml-3 mb-1">@categoryPost.Title</h3>
                            <div class="meta ml-3 mb-1">
                                <span>Published @categoryPost.Created.ToString("MMMM dd, yyyy")</span>
                            </div>

                            <div class="intro ml-3 mb-1">@Html.Raw(categoryPost.Abstract)</div>
                            <br />
                            <a asp-action="Details" asp-route-slug="@categoryPost.Slug" class="ml-3">Read more &rarr;</a>
                        </div>
                        <img src="@imageService.DecodeFile(categoryPost.ImageData, categoryPost.ContentType)" class="ml-3 img-fluid d-none d-md-flex" alt="image">
                    </div>
                </div>
                <hr>
            }
            order++;
        }
    </section>

<div class="row text-center">
    <div class="col">
        @ViewBag.PageXofY
    </div>
</div>
<div class="row text-center">
    <div class="col">
        <form asp-action="Index" method="get">
            <input type="hidden" name="searchString" value="@ViewBag.SearchString"/> 
            @for (var loop = 1; loop <= ViewBag.TotalPages; loop++)
            {
                var myClass = "btn-success";
                if(loop == (int)ViewBag.PageNumber)
                {
                    myClass = "btn-outline-success";
                }
                <button class="btn btn-sm @myClass" type="submit" name="pageNumber" value="@loop">@loop</button>
            }
        </form>
    </div>
</div>

