@using Blog.Services;
 


@inject IImageService imageService
@model IEnumerable<Blog.Models.CategoryPost>


@{
    ViewData["Title"] = "Index";
}



<section class="blog-list px-3 py-5 p-md-5">
    <div class="container">
        
       
        @foreach (var categoryPost in Model.OrderByDescending(cp => cp.Created))
        {
            
            <div class="item mb-5">
                <div class="media">
                    <img src="@imageService.DecodeFile(categoryPost.ImageData, categoryPost.ContentType)" class="image-fluid">
                    <div class="media-body">
                        <h3 class="title mb-1">                           
                                @categoryPost.Title                           
                        </h3>
                        <span class="date meta mb-1">
                            Published @categoryPost.Created.ToString("MMM dd, yyyy")
                        </span>
                        @*<span class="time">5 min read</span><span class="comment"><a href="#">8 comments</a></span></div>*@
                        <div class="col"></div>
                        <div class="col"></div>
                        @Html.Raw(categoryPost.Abstract)
                    </div>
                        <div class="intro">
                            @Html.Raw(categoryPost.Abstract)
                        </div>
                        <a asp-action="Details" asp-route-id="@categoryPost.Id">Read more &rarr;</a>
                    </div>
                </div>
         
            <hr>
        }

    </div>
</section>

<div class="row">
    <div class="col">
        @ViewBag.PageXofY
    </div>
</div>
<div class="row">
    <div class="col">
        <form asp-action="Index" method="get">
            <input type="hidden" name="searchString" value="@ViewBag.SearchString"/> 
            @for (var loop = 1; loop <= ViewBag.TotalPages; loop++)
            {
                var myClass = "btn-success";
                if(loop == (int)ViewBag.PageNumber)
                {
                    myClass = "btn-outline-success";
                }
                <button class="btn btn-sm @myClass" type="submit" name="pageNumber" value="@loop">@loop</button>
            }
        </form>
    </div>
</div>

