@using Blog.Services

@inject IImageService imageService
@model IEnumerable<Blog.Models.BlogCategory>

@{
    ViewData["Title"] = "Index";
}

<section class="blog-list px-3 py-5 p-md-5">
    <div class="container">

        @foreach (var category in Model.OrderByDescending(b => b.Created))
        {
            <div class="item mb-5">
                <!--<div class="media">
                    <img src="@imageService.DecodeFile(category.ImageData, category.ContentType)" class="image-fluid">
                    <div class="media-body">
                        <h3 class="title mb-1">
                            @category.Name
                        </h3>
                        <span class="date meta mb-1">
                            Published @category.Created.ToString("MMM dd, yyyy")
                        </span>-->
                        @*<span class="date">Updated @category.Updated.ToString("MMM dd, yyyy")</span>*@
                        @*<span class="time">5 min read</span><span class="comment"><a href="#">8 comments</a></span></div>*@
                        <!--<div class="intro">
                            @category.Description
                        </div>
                        <br />
                        <div>
                            @if (User.IsInRole("Administrator"))
                            {
                                <a asp-action="Details" asp-route-id="@category.Id">Administrative Controls</a>
                            }
                        </div>
                        <br />
                        <a asp-controller="CategoryPosts" asp-action="CategoryIndex" asp-route-id="@category.Id">Read more &rarr;</a>
                   
                    
                </div>
                </div>-->
                <hr>
                <div class="item mb-5">
                    <div class="media">
                        <div class="media-body">
                            <h3 class="title mb-1">
                                @category.Name
                            </h3>
                            <span class="date meta mb-1">
                                Published @category.Created.ToString("MMM dd, yyyy")
                            </span>
                            @*<span class="date">Updated @category.Updated.ToString("MMM dd, yyyy")</span>*@
                            @*<span class="time">5 min read</span><span class="comment"><a href="#">8 comments</a></span></div>*@
                            <div class="intro">
                                @category.Description
                            </div>
                            <br />
                            <div>
                                @if (User.IsInRole("Administrator"))
                                {
                                    <a asp-action="Details" asp-route-id="@category.Id">Administrative Controls</a>
                                }
                            </div>
                            <br />
                            <a asp-controller="CategoryPosts" asp-action="CategoryIndex" asp-route-id="@category.Id">Read more &rarr;</a>
                       </div>
                        <img src="@imageService.DecodeFile(category.ImageData, category.ContentType)" class="image-fluid">
                    </div>
                </div>
                <hr>
                

            </div>

        }
    </div>
</section>



@*<td>
        <a asp-action="Edit" asp-route-id="@category.Id">Edit</a> |
        <a asp-action="Details" asp-route-id="@category.Id">Details</a> |
        <a asp-action="Delete" asp-route-id="@category.Id">Delete</a> |
        <a asp-controller="CategoryPosts" asp-action="CategoryIndex" asp-route-id="@category.Id">Posts</a>
    </td>*@

